
body {
  background:#FFF;
  font-family: 'Roboto Condensed', sans-serif;
}

.candy img {
  width: 80%;
}

.insta {
  padding-right: 2em;
}
#photo-booth {
  background-color: #7b4397;
  color: #FFF;
  font-size: 1em;
  padding-top: 0.7em;
}

#links a {
  text-decoration: none;
}

#links {
  background-color:  #7b4397;
  font-size: 1em;
  padding-top: 0.7em;
  text-align: center;
}

#lins, p {
  color: #FFF;
}

.photo-text {
  padding-right: 1em;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8 {
  float: left;
  width: 100px;
  height: 100px;
  /* margin: 10px;
  padding: 10px; */
  border: 1px solid #7b4397;
}

/* #div6 {
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid black;
} */

#contenedor {
  text-align: center;
}
