body {
  background: gray;
}

.candy img {
  width: 80%;
}

#photo-booth {
  background-color: #1D1F20;
  color: #FFF;
  font-size: 1.8em;
  padding-top: 0.7em;
}

#links a {
  text-decoration: none;
}

#links {
  background-color: #1D1F20;
  color: #FFF;
  font-size: 1.5em;
  padding-top: 0.7em;
  text-align: center;
}

.photo-text {
  padding-right: 1em;
}

#div1, #div2, #div3, #div4, #div5 {
  float: left;
  width: 100px;
  height: 100px;
  /* margin: 10px;
  padding: 10px; */
  border: 1px solid black;
}

#div6 {
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#contenedor {
  text-align: center;
}
