body {
  background: gray;
}

#arrastrables {
  text-align: center;
}

#contenedor {
  text-align: center;
  background-color: blue;
}

.candy img {
  width: 80%;
}

#photo-booth {
  background-color: #1D1F20;
  color: #FFF;
  font-size: 1.8em;
  padding-top: 0.7em;
}

#links {
  background-color: #1D1F20;
  color: #FFF;
  font-size: 1.5em;
  padding-top: 0.7em;
  text-align: center;
}

.photo-text {
  padding-right: 1em;
}

#div1, #div2 {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
